.chat {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;

  h1 {
    font-family: merienda, Arial, Helvetica, sans-serif;
    margin: 14px 0 10px 0;
  }

  .type-area {
    height: 20px;
    margin: 0 0 4px 0;
  }

  .msg-list {
    // overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 220px);
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-items: flex-start;
    background-color: #bccad6;
    border-radius: 2px;
    li {
      margin: 0 0 4px 0;
      padding: 4px;
      width: auto;
      border-radius: 2px;
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 16px 1fr;
      grid-gap: 4px;
      &.own {
        // justify-content: flex-end;
        background-color: #dfc7a3;
      }
      &.else {
        // justify-content: flex-start;
        background-color: #a3c3df;
      }
      .user {
        font-weight: bold;
        grid-area: 1 / 1 / 1 / 1;
        text-align: left;
      }
      .text {
        // grid-area: 3 / 1 / 3 / 3;
        grid-column: 1/3;
        text-align: left;
      }
      .date {
        grid-area: 1 / 2 / 1 / 3;
        text-align: right;
        font-size: .9em;
      }
      .dog-doing {
        grid-area: 2 / 1 / 2 / 3;
        display: flex;
        align-items: baseline;
        & > div {
          padding-left: 8px;
          display: flex;
          flex-direction: column;
          img {
            height: auto;
            width: 30px;
            margin: 0 auto;
          }
          label{
            font-size: .8em;
          }
        }
      }
    }
  }
}
