* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  color: $clr0;
  font-family: sans-serif, Arial, serif;
}

body {
  margin: auto;
  font-size: 16px;
  height: 100%;
  background-color: $clr5;
}

// img {
//     width:100%;
// }

.App {
  text-align: center;
  max-width: 100%;
}

.app-nav-route {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  .nav {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
  }
  .route{
    margin-bottom: 45px;
  }
}